html, body {
    padding: 0;
    margin: 0;
}

body {
    background: black;
}

#peak {
    color: white;
    font: 96px monospace;
    height: 100px;
    left: 50%;
    margin-left: -300px;
    margin-top: -50px;
    position: absolute;
    width: 600px;
    text-align: center;
    top: 50%;
    z-index: 2;
}

#noise-range {
    background: #444;
    width: 1px;
    bottom: 0;
    top: 0;
    position: absolute;
    z-index: 2;
}

#chart {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}